* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0%;
    padding: 0%;
}

/* css selectors */

.app {
    height: 100%;
    width: 100%;
}

.header {
    height: 4rem;
    width: 100%;
    /* background-color: lightcoral; */
    padding: 0rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #18180b;
}

.logo {
    color: #18180b;
    font-size: 2rem;
    font-weight: 600;
    margin-right: 2rem;
}

.logo > span {
    font-family: "Bungee Shade", sans-serif;
}

.nav-items > ul {
    /* nav-items */
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.body-container {
    height: 100%;
    margin: 0rem 1rem;
}
.search {
    margin: 1.5rem 0rem;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.res-card {
    margin: 0.5rem;
    padding: 1rem;
    width: 100%;
    max-width: 18.75rem;
    border: solid 1px grey;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.res-img {
    width: 100%;
    max-width: 18.75rem;
    height: 11.25rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    border-radius: 8px;
}

.res-img > img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.res-img:hover > img {
    transform: scale(1.1);
}

.res-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    margin-bottom: 1rem;
}

.res-details > .res-cuisine {
    font-size: small;
    color: grey;
}

.res-features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: small;
}

.res-rating {
    background-color: lightgreen;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.res-rating > img {
    margin-left: 0.2rem;
    height: 0.75rem;
    width: 0.75rem;
}
